@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Squad Room<br />
    New York,New York 12345<br />
    <abbr title="Phone">P:</abbr>
    987-654-3210
</address>

