@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SVU Tech Reviews</h1>
    <p class="lead">SVU Tech Reviews is the place to go to rate and give input about your favorite or least favorite
    computers,phones,and televisions.</p>
    <p><a href="https://www.nbc.com/law-and-order-special-victims-unit" class="btn btn-primary btn-lg">About US &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Our loyal staff</h2>
        <p>
            Here we are dedicated to make your voice heard about your new products.
        </p>
    </div>
        <div class="col-md-6">
            <img src="~/24789_original (1).jpg" id="img" />
        </div>
</div>
        
   
    <div class="row">
        <div class="col-md-6">
            <h2>About Our Company</h2>
            <p>It's unlike any other company.</p>
            <p><a class="btn btn-primary role=button" href="https://en.wikipedia.org/wiki/Law_%26_Order:_Special_Victims_Unit">Check us Out! &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Our Customers</h2>
            <p>We take pride in all of our customers and appreciate all your input (even if you aren't a fan of SVU).</p>
            <img src="~/SVUopening (1).jpg" id="img" />
        </div>
    </div>
